<div>
  <div>
    <h1>
      <%= @current_user.username %>'s saved posts
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <table border="1">
      <tr>
        <th>
          Category
        </th>

        <th>
          Title
        </th>

        <th>
          Author
        </th>

        <th>
          Created
        </th>

        <th>
          Updated
        </th>
      </tr>

      <% @list_of_saved_posts.order(:created_at => :desc).each do |a_saved_post| %>
      <tr>
        <td>
          <%= a_saved_post.post.category.name %>
        </td>

        <td>
          <a href="/posts/<%= a_saved_post.post.id %>">
            <%= a_saved_post.post.title %>
          </a>
        </td>

        <td>
          <a href="<%= a_saved_post.post.author.facebook_account %>" target="_blank">
            <%= a_saved_post.post.author.username %>
          </a>
        </td>

        <td>
          <%= time_ago_in_words(a_saved_post.post.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_saved_post.post.updated_at) %> ago
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
