<div>
  <div>
    <h1>
      Saved post #<%= @the_saved_post.id %> details
    </h1>

    <div>
      <div>
        <a href="/saved_posts">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_saved_post/<%= @the_saved_post.id %>">
          Delete saved post
        </a>
      </div>
    </div>

    <dl>
      <dt>
        User
      </dt>
      <dd>
        <%= @the_saved_post.user_id %>
      </dd>

      <dt>
        Post
      </dt>
      <dd>
        <%= @the_saved_post.post_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_saved_post.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_saved_post.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit saved post
    </h2>

    <form action="/modify_saved_post/<%= @the_saved_post.id %>"  method="post" >
      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_saved_post.user_id %>">
      </div>

      <div>
        <label for="post_id_box">
          Post
        </label>

        <input type="text" id="post_id_box" name="query_post_id" value="<%= @the_saved_post.post_id %>">
      </div>

      <button>
        Update saved post
      </button>
    </form>
  </div>
</div>

<hr>
