<div>
  <div>
    <h1>
      <%= @the_user.username %>'s Profile
    </h1>

    <hr>

    <h3>
      Facebook Profile: <a href="<%= @the_user.facebook_account %>" target="_blank"><%= @the_user.facebook_account %></a>
    </h3>

    <h3>
      Recent Posts:
    </h3>

    <table border="1">
      <tr>
        <th>
          Category
        </th>

        <th>
          Title
        </th>

        <th>
          Author
        </th>

        <th>
          Created
        </th>

        <th>
          Updated
        </th>
      </tr>

      <% @list_of_users_posts.where(:active_status => :true).order(:created_at => :desc).each do |a_post| %>
      <tr>
        <td>
          <a href="/sort/<%= a_post.category.name %>"><%= a_post.category.name %></a>
        </td>

        <td>
          <a href="/posts/<%= a_post.id %>">
            <%= a_post.title %>
          </a>
        </td>

        <td>
          <a href="/users/<%= a_post.author.id %>">
            <%= a_post.author.username %>
          </a>
        </td>

        <td>
          <%= time_ago_in_words(a_post.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_post.updated_at) %> ago
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
