<h1>
  Edit your post
</h1>

<form action="/modify_post/<%= @the_post.id %>" method="post" >
  <div>
    <input type="hidden" id="author_id_box" name="query_author_id" value="<%= @current_user.id %>">
  </div>

  <div>
    <label for="title_box">
      Title:
    </label>

    <br>

    <textarea rows = "1" cols = "60" name = "query_title"><%= @the_post.title %></textarea>
  </div>
  
  <br> 

  <div>
    <label for="description_box">
      Description:
    </label>
    <br>

    <textarea rows = "5" cols = "60" name = "query_description"><%= @the_post.description %></textarea>
  </div>

  <br>

  <div>
    <label for="category_box">
      Category:
    </label>

    <select name="query_category">
      <% Category.all.each do |a_cat| %>
        <option value="<%= a_cat.id %>">
          <%= a_cat.name %>
        </option>
      <% end %>
    </select>
  </div>

  <br>

  <div>
    <label for="active_status_box">
        Is this post still active?
    </label>

    <input type="checkbox" id="active_status_box" name="query_active_status" value="1" <%= "checked" if @the_post.active_status %>>
  </div>

  <br>

  <button>
    Update post
  </button>

</form>

<br>
<hr>
<br>

<a href="/delete_post/<%= @the_post.id %>" >
  Delete post permanently
</a>
