<div>
  <div>
    <h1>
      Marketplace
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <% if @current_user != nil %>
      <h2>
        <a href="/create_post">Create a new post</a>
      </h2>
    <% else %>
      <h2>
        Please sign in to create a post
      </h2>
    <% end %>
  </div>
</div>

<hr>

<div>
  <div>
    <table border="1">
      <tr>
        <th>
          Category
        </th>

        <th>
          Title
        </th>

        <th>
          Author
        </th>

        <th>
          Created
        </th>

        <th>
          Updated
        </th>
      </tr>

      <% @list_of_posts.where(:active_status => :true).each do |a_post| %>
      <tr>
        <td>
          <a href="/sort/<%= a_post.category.name %>"><%= a_post.category.name %></a>
        </td>

        <td>
          <a href="/posts/<%= a_post.id %>">
            <%= a_post.title %>
          </a>
        </td>

        <td>
          <a href="/users/<%= a_post.author.id %>">
            <%= a_post.author.username %>
          </a>
        </td>

        <td>
          <%= time_ago_in_words(a_post.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_post.updated_at) %> ago
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
