<div>
  <div>
    <h1>
      List of all posts
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new post
    </h2>

    <form action="/insert_post" method="post">
      <div>
        <label for="author_id_box">
          Author
        </label>

        <input type="text" id="author_id_box" name="query_author_id">
      </div>

      <div>
        <label for="title_box">
          Title
        </label>

        <input type="text" id="title_box" name="query_title">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description">
      </div>

      <div>
        <input type="checkbox" id="active_status_box" name="query_active_status" value="1">

        <label for="active_status_box">Active status</label>
      </div>

      <div>
        <label for="category_box">
          Category
        </label>

        <input type="text" id="category_box" name="query_category">
      </div>

      <button>
        Create post
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Author
        </th>

        <th>
          Title
        </th>

        <th>
          Description
        </th>

        <th>
          Active status
        </th>

        <th>
          Category
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_posts.each do |a_post| %>
      <tr>
        <td>
          <%= a_post.id %>
        </td>

        <td>
          <%= a_post.author_id %>
        </td>

        <td>
          <%= a_post.title %>
        </td>

        <td>
          <%= a_post.description %>
        </td>

        <td>
          <%= a_post.active_status %>
        </td>

        <td>
          <%= a_post.category %>
        </td>

        <td>
          <%= time_ago_in_words(a_post.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_post.updated_at) %> ago
        </td>

        <td>
          <a href="/posts/<%= a_post.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
