<div>
  <div>
    <h1>
      <%= @the_post.title %>
    </h1>

    <div>
      Posted by: <a href="<%= @the_post.author.facebook_account %>" target="_blank"><%= @the_post.author.username %></a>
      <%= time_ago_in_words(@the_post.created_at) %> ago
    </div>

    <div>
      Last updated: <%= time_ago_in_words(@the_post.updated_at) %> ago
    </div>

    <br>

    <div>
      Description
    </div>
    <div>
      <%= @the_post.description %>
    </div>

    <br>

    <div>
      Posted under: <a href=""><%= @the_post.category %></a> 
      | <a href="/save_post/<%= @the_post.id %>">Save this Post</a>
    </div>

    <br>

    <div>
      <a href="/posts">Go back</a>
    </div>
  </div>
</div>

<hr>

<% if @the_post.author.id == session.fetch(:user_id) %>

<div>
  <div>
    <h2>
      Edit post
    </h2>

    <form action="/modify_post/<%= @the_post.id %>"  method="post" >
      <div>
        <input type="hidden" id="author_id_box" name="query_author_id" value="<%= @the_post.author_id %>">
      </div>

      <div>
        <label for="title_box">
          Title
        </label>

        <input type="text" id="title_box" name="query_title" value="<%= @the_post.title %>">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description" value="<%= @the_post.description %>">
      </div>

      <div>
        <input type="checkbox" id="active_status_box" name="query_active_status" value="1" <%= "checked" if @the_post.active_status %>>

        <label for="active_status_box">
            Active status
        </label>
      </div>

      <div>
          <select name="query_category">
            <% Post.all.order(:title).each do |a_movie| %>
              <option value="<%= a_movie.id %>">
                <%= a_movie.title %>
              </option>
            <% end %>
          </select>

        <label for="category_box">
          Category
        </label>

        <input type="text" id="category_box" name="query_category" value="<%= @the_post.category %>">
      </div>

      <button>
        Update post
      </button>
    </form>

    <br>

    <div>
      <a href="/delete_post/<%= @the_post.id %>">
        Delete post
      </a>
    </div>
  </div>
</div>

<% end %>
