<div>
  <div>
    <h1>
      <%= @the_post.title %>
    </h1>

    <div>
      Posted by: <a href="/users/<%= @the_post.author.id %>"><%= @the_post.author.username %></a>
      <%= time_ago_in_words(@the_post.created_at) %> ago
    </div>

    <div>
      Last updated: <%= time_ago_in_words(@the_post.updated_at) %> ago
    </div>

    <br>

    <div>
      Description:
    </div>
    <div>
      <%= @the_post.description %>
    </div>

    <br>

    <div>
      Posted under: <a href="/sort/<%= @the_post.category.name %>"><%= @the_post.category.name %></a>
    </div>

    <br>

    <div>
      <a href="/posts">Go back</a>
      |
      <% if SavedPost.where(:post_id => @the_post.id, :user_id => session.fetch(:user_id)).at(0) == nil %>
        <a href="/save_post/<%= @the_post.id %>">Save this post</a>
      <% else %>
        <a href="/delete_saved_post/<%= @the_post.id %>">Unsave this post</a>
      <% end %>
      <% if @the_post.author.id == session.fetch(:user_id) %>
        | <a href="/edit_post/<%= @the_post.id %>">Edit this post</a>
      <% end %>
    </div>
  </div>
</div>

<br>
<hr>

<h2>
  Comments
</h2>

<dl>
  <% @list_of_comments.each do |a_comment| %>
    <dt>
      <a href="/users/<%= a_comment.commenter.id %>"><%= a_comment.commenter.username %></a>
      posted <%= time_ago_in_words(a_comment.created_at) %> ago:

      <% if session.fetch(:user_id) == @the_post.author.id or session.fetch(:user_id) == a_comment.commenter.id %>
        <a href="/delete_comment/<%= a_comment.id %>">(Delete Comment)</a>
      <% end %>
    <dt>

    <dd>
      "<%= a_comment.comment_text %>"
    </dd>

    <hr>
  <% end %> 
</dl>

<% if @current_user != nil %>

 <form action="/insert_comment", method="post" >
    <div>
      <input type="hidden" id="author_id_box" name="query_commenter_id" value="<%= @current_user.id %>">
    </div>

    <div>
      <input type="hidden" id="post_id_box" name="query_post_id" value="<%= @the_post.id %>">
    </div>
    
    <div>
      <label for="comment_box">
        Comment on this post as <%= @current_user.username %>:
      </label>
      <br>

      <textarea rows = "5" cols = "60" name = "query_comment_text" placeholder="Leave a comment here"></textarea>
    </div>

    <br>

    <button>Post Comment</button>

  </form>

<% else %>
  <div>Please sign in to leave a comment</div>
<% end %>
