<div>
  <div>
    <h1>
      Post #<%= @the_post.id %> details
    </h1>

    <div>
      <div>
        <a href="/posts">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_post/<%= @the_post.id %>">
          Delete post
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Author
      </dt>
      <dd>
        <%= @the_post.author_id %>
      </dd>

      <dt>
        Title
      </dt>
      <dd>
        <%= @the_post.title %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @the_post.description %>
      </dd>

      <dt>
        Active status
      </dt>
      <dd>
        <%= @the_post.active_status %>
      </dd>

      <dt>
        Category
      </dt>
      <dd>
        <%= @the_post.category %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_post.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_post.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit post
    </h2>

    <form action="/modify_post/<%= @the_post.id %>"  method="post" >
      <div>
        <label for="author_id_box">
          Author
        </label>

        <input type="text" id="author_id_box" name="query_author_id" value="<%= @the_post.author_id %>">
      </div>

      <div>
        <label for="title_box">
          Title
        </label>

        <input type="text" id="title_box" name="query_title" value="<%= @the_post.title %>">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description" value="<%= @the_post.description %>">
      </div>

      <div>
        <input type="checkbox" id="active_status_box" name="query_active_status" value="1" <%= "checked" if @the_post.active_status %>>

        <label for="active_status_box">
            Active status
        </label>
      </div>

      <div>
        <label for="category_box">
          Category
        </label>

        <input type="text" id="category_box" name="query_category" value="<%= @the_post.category %>">
      </div>

      <button>
        Update post
      </button>
    </form>
  </div>
</div>

<hr>
